body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 30px; /* Aumentei o padding */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 1000px; /* Aumentei a largura máxima */
    width: 100%;
}

h1 {
    margin-bottom: 30px; /* Aumentei o espaçamento */
}

.content {
    display: flex;
    gap: 40px; /* Aumentei o espaço entre o formulário e o QR Code */
    align-items: flex-start;
}

form {
    flex: 1;
    max-width: 400px; /* Aumentei a largura máxima do formulário */
}

label {
    display: block;
    margin-bottom: 10px; /* Aumentei o espaçamento */
    font-weight: bold;
    font-size: 16px; /* Aumentei o tamanho da fonte */
}

input, select, button {
    width: 100%;
    padding: 15px; /* Aumentei o padding */
    margin-bottom: 20px; /* Aumentei o espaçamento */
    border: 1px solid #ccc;
    border-radius: 6px; /* Aumentei o raio da borda */
    font-size: 16px; /* Aumentei o tamanho da fonte */
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px; /* Aumentei o tamanho da fonte */
    padding: 15px 20px; /* Ajustei o padding */
}

button:hover {
    background-color: #218838;
}

.hidden {
    display: none;
}

#qrcodeContainer {
    flex: 1;
    text-align: center;
}

#qrcodeImage {
    width: 385px;
    height: 385px;
    margin-top: -30px; /* Aumentei o espaçamento */
}

#downloadButton {
    margin-top: 20px; /* Aumentei o espaçamento */
    padding: 15px 20px; /* Ajustei o padding */
    font-size: 16px; /* Aumentei o tamanho da fonte */
}